*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(227, 212, 193);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    height: 300px;
    width: 800px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), 
            -10px -10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.title{
    color: darkorange;
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
}
.description{
    font-size: 25px;
    color: rgb(135, 135, 135);
}
.button-start-game{
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: darkorange;
    cursor: pointer;
}
.button-start-game:hover{
    transform: scale(1.1);
    background-color: rgb(224, 126, 7);
}
.quiz-QA{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -600px;
}
.container-quiz{
    height: 470px;
    width: 600px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), 
            -10px -10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.question-no-score{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 22px;
}
.button-answers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.answer{
    width: 92%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(227, 212, 193);
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.2s ease;
}
.answer:hover{
    background-color: #ffe0b2; 
    border-color: darkorange;
    transform: translateX(10px);
}
.progress-bar{
    width: 90%;
    height: 20px;
    background-color: rgb(227, 212, 193);
    border-radius: 5px;
    margin-top: 6px;
}
.progress-fill{
    background-color:gold;
    transition: width 0.5s ease;
    height: 100%;
    width: 0%;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
}
.correct{
    background-color: rgba(0,128,0,0.2);
    border-color: green;
    color: green;
}
.correct:hover{
    background-color: rgba(0,128,0,0.2);
    border-color: green;
    color: green;
}
.wrong{
    background-color: rgba(255,0,0,0.2);
    border-color: red;
    color: red;
}
.wrong:hover{
    background-color: rgba(255,0,0,0.2);
    border-color: red;
    color: red;
}
.results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
.result-container{
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), 
            -10px -10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-result{
    margin-top: 30px;
    font-size: 30px;
    color: darkorange;
    font-weight: 600;
}
.score-result{
    background-color: #F7F1E5;
    width: 90%;
    text-align: center;
    height: 100px;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 25px;
}
.score-shown{
    color: black;
    font-size: 20px;
}
.message{
    color: darkorange;
    font-size: 28px;
    font-weight: 600;
}
.button-restart{
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 25px;

}
.button-restart:hover{
    transform: scale(1.1);
}
@media (max-width: 768px){
    *{
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-quiz{
        height: 500px;
    }
}